{%extends 'base.html'%}

{%block titulo%}
	El Blog
{%endblock titulo%}

{%block content%}
<h1>Estas en el blog</h1>

<h2>Estos son los posts</h2>
<div class="row">
	{%for post in posts%}



	

	

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{post.img}}" alt="{{post.desc}}">
      <div class="caption">
        <h3>{{post.titulo}}</h3>
        <p>{{post.desc}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Leer más</a></p>
      </div>
    </div>
  </div>



	{%empty%}
	<h3>No hay posts U_U</h3>
	{%endfor%}
</div>


<div id="Formulario">

	<form method="post" action=".">
		{%csrf_token%}
		{{form.as_p}}
		<input class="btn btn-lg btn-info" type="submit" value="Guardar">
	</form>

</div>

{%endblock content%}